<div class="lemonade">
  <app-glass
    [percentLemonJuice]="100 - (products[0].amount / products[0].max) * 100"
    [percentSugar]="100 - (products[1].amount / products[1].max) * 30"
    [numberOfIceCubes]="products[2].amount"
  ></app-glass>
  <app-card>
    <app-product
      *ngFor="let product of products"
      name="{{ product.name }}"
      [amount]="product.amount"
      [max]="product.max"
      unit="{{ product.unit }}"
      (incrementProductByName)="increment(product.name)"
      (decrementProductByName)="decrement(product.name)"
    ></app-product>
    <button class="add-cart" (click)="addToCart()">Add to Cart</button>
  </app-card>
</div>
<app-cart
  *ngIf="cartShown"
  [lemonades]="cartLemonades"
  (secondPassLemonadeIdEvent)="removeFromCart($event)"
></app-cart>
<app-cart-icon *ngIf="!cartShown" (click)="toggleCart()"></app-cart-icon>
<div class="backdrop" *ngIf="cartShown" (click)="toggleCart()"></div>
