<div class="lemonade">
  <app-glass
    [classNames]="'small'"
    [percentLemonJuice]="100 - (lemonade.lemonJuice / 10) * 100"
    [percentSugar]="100 - (lemonade.sugar / 8) * 30"
    [numberOfIceCubes]="lemonade.iceCubes"
  ></app-glass>
  <div class="lemonade-text">
    <span>Lemon Juice: {{ lemonade.lemonJuice }} ounces</span>
    <span>Sugar: {{ lemonade.sugar }} tablespoons</span>
    <span>Ice: {{ lemonade.iceCubes }} cubes</span>
    <span>Price: {{ lemonade.price | currency : "USD" }}</span>
  </div>
  <button class="remove" (click)="passLemonadeId(lemonade.id)">Remove</button>
</div>
