<div class="sidebar">
  <h1 class="blue">Your Order</h1>
  <div class="order-container eighty-percent">
    <div class="order-box">
      <app-cart-item
        *ngFor="let lemonade of lemonades"
        [lemonade]="lemonade"
      ></app-cart-item>
    </div>
    <h2 id="order-total" class="blue">
      Total Price: {{ totalPrice | currency : "USD" }}
    </h2>
  </div>
  <div class="form-container eighty-percent">
    <select class="input-style one-hundred-percent">
      <option disabled selected>Select a Lemonade Stand</option>
      <option>Stand 1</option>
      <option>Stand 2</option>
    </select>
    <a routerLink="/order-success">
      <button class="yellow-button font">Place Order</button>
    </a>
  </div>
</div>
