.card {
  height: 300px;
  width: 450px;
  background: #16697a;
  border: 3px solid #333;
  border-radius: 25px;
  color: #ebebd3;
  display: flex;
  flex-direction: column;
  align-items: initial;
  justify-content: center;
  overflow: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.card::-webkit-scrollbar {
  display: none;
}
