.styled-product {
  width: 90%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.product-name {
  width: 50%;
}

.counter {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.increment-button {
  height: 30px;
  width: 30px;
  background: lightgreen;
  cursor: pointer;
}

.decrement-button {
  height: 30px;
  width: 30px;
  background: palevioletred;
  cursor: pointer;
}

h3{
  text-align: center;
  width: 28%;

}
