<div
  class="fill"
  [style]="{
    transform:
      'translate(0, ' +
      (percentLemonJuiceLiquid < 100 ? percentLemonJuiceLiquid : 105) +
      '%)'
  }"
>
  <app-wave class="wave back"></app-wave>
  <app-wave class="wave front"></app-wave>
</div>
<div
  class="fillSugar"
  [style]="{ transform: 'translate(0, ' + percentSugarLiquid + '%)' }"
></div>
<div class="iceBox">
  <img
    class="iceCube"
    *ngFor="let iceCube of [].constructor(numberOfIceCubesLiquid)"
    src="../../../../assets/ice.svg"
  />
</div>
